 @import url('https://fonts.googleapis.com/css2?family=Open+Sauce+One:wght@400;600;700&display=swap');

 .footer {
  background-color: #bfe1b1; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 2rem;
  gap: 2rem;
}

.footer-logo-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
 width: 500px;
 height: 220px;
}

.footer-links-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social-media-wrapper{
  margin: 0 ;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #2d1b16;
  border-bottom: 1px solid #2d1b16;
  padding: 0.75rem 0rem;
  position: relative;
  gap: 2rem;
}

.follow-along {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: #2d1b16;
  text-transform: uppercase;
}

.follow-title {
  margin: 0;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  align-items: center;
}
.social-icons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-media-wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 1%;
  bottom: 1%;
  width: 1.3px;
  background-color: #321d1d;
}
.footer-accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 40px;
}

.accordion-item {
  border-top: 1px solid #2d1b16;
  padding: 0.5rem 0;
}

.accordion-header {
  font-weight: bold;
  color: #2d1b16;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-body a {
  color: #2d1b16;
  text-decoration: underline;
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}


.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  width: 100%;
}

.footer-divider {
  border: none;
  border-top: 2px solid #2d1b16;
  width: 90%;
  margin: 0 auto 1rem auto;
}

.footer-copy {
  font-size: 1rem;
  color: #2d1b16;
  margin: 0.5rem 0;
}

.footer-dev {
  font-size: 1rem;
  color: #6c7ba0;
  margin: 0;
}

.footer-dev a {
  color: #6c7ba0;
  font-weight: bold;
  text-decoration: none;
}

.footer-dev a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 2rem;
  }

  .footer-logo-section {
    order: 4;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .footer-logo {
    width: 200px;
    height: auto;
  }

  .footer-links-section {
    order: 2;
    width: 100%;
    align-items: center;
  }

  
  .footer-accordion {
    order: 2;
    width: 100%;
    padding: 0 1rem;
  }

  .accordion-header {
    width: 100%;
    text-align: left;
  }

  .footer-bottom {
    order: 3;
    width: 100%;
    text-align: center;
  }

  .footer-divider {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .social-media-wrapper {
    gap: 1rem;
    padding: 0.5rem 0rem;
  }

  .follow-along {
    font-size: 0.9rem;
  }

  .social-icons {
    gap: 0.7rem;
  }

  .social-icons a img {
    width: 32px;
    height: 32px;
    padding: 0.3rem;
  }
}

