@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@400;700;900&display=swap');

body {
  font-family: 'Phudu', serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: auto;
}
